# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments (like node_modules)
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if using VS Code)
.vscode/

# Mac system files
.DS_Store

# PyCharm files
.idea/

# Test and coverage outputs
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log
